<script>
	function getPurchases() {
		$("img").show();
		$.ajax({
		    url: '/ebay',
		    type: "GET",
			contentType: "application/json",
			success: function(data) {
				$("img").hide();
				showPurchases(data);
			},
		    error: function(err) { 
				$("img").hide();
		    	alert("error");
		    }
		});
	}

	function showPurchases(data) {
		$("#resultsTable").show();
		$("#resultsTable").find("tr:gt(0)").remove();
		var row;
		for (var id in data) {
			if (data.hasOwnProperty(id) && id.replace(/\D/g,'') != "") {
				row ='<tr> <td> ' + id.replace(/\D/g,'') + '</td> <td> ' + data[id]['name'] + '</td> <td> ' + data[id]['price'] + '</td> <td> ' + data[id]['seller'] + '</td> <td> ' ;
				if (data[id]['date'][0] != null)
					row += data[id]['date'][0];
				if (data[id]['date'].length > 1) {
					for (var i = 1; i < data[id]['date'].length; i++) {
						row += '<br /> ' + data[id]['date'][i];
					}
				}

				row += '</td> </tr>';
				$('#resultsTable').append(row);
		  	}
		}
	}
</script>

<% if current_user %>
	<%= current_user.name %>
	  <button onclick="getPurchases()"> show eBay purchases </button>
	  <br />
	  <img src="http://i.stack.imgur.com/FhHRx.gif" style="display: none;" />
	  <table id="resultsTable" style="display: none;" border=1>
	  	<tr>
	  		<th> product ID </th>
	  		<th> product name </th>
	  		<th> product price </th>
	  		<th> seller </th>
	  		<th> purchase dates </th>
	  	</tr>
	  </table>
	  <br />
	<%= link_to 'Sign out',  '/signout' %>

<% else %>
	<%= link_to "Authenticate with Google!", '/auth/google_oauth2' %>
<% end %>